<div class="box">
	<h2>
		<a name="login-forms" id="login-forms" class="toggle"><%= tt('login') -%></a>
	</h2>
	<% if flash[:notice] %> 
	  <p><%= flash[:notice] %></p>
	<% end %>
	<% if flash[:error] %> 
	  <p><%= flash[:error] %></p>
	<% end %>  
	<div class="block" id="login-forms-toggle">
		<% form_tag session_path do -%>
			<fieldset class="login">
				<legend><%= tt('user_login') -%></legend>
        <p><%= label_tag User.human_attribute_name('login') + ":" %><%= text_field_tag 'login', @login -%></p>
        <p><%= label_tag User.human_attribute_name('password') + ":" %><%= password_field_tag 'password', nil -%></p>
        <p><%= label_tag tt('remember_me') + "?" -%><%= check_box_tag 'remember_me', '1', @remember_me -%></p>
				<input class="login button" type="submit" value=<%= tt('login') -%> />
			</fieldset>
		<% end %>
	</div>
</div>