<div class="box">
	<h2><a name="tab" id="tab" class="toggle">News Limited Subscriptions</a></h2>
  <dl id="tab-toggle" class="tab">
    <dt>Plan and Action</dt>
    <dd><%= render "action_plan" %></dd>
    <dt>Profile</dt>
    <dd><%= render "profile" %></dd>
    <dt>Target Audience</dt>
    <dd><%= render "target_audience" %></dd>
    <dt>Fullfilment</dt>
    <dd><%= render "fullfilment" %></dd>
    <dt>Responses</dt>
    <dd><%= render "responses" %></dd>
    <dt>Permissions</dt>
    <dd><%= render "permissions" %></dd>
  </dl>
</div>